<a class="page-header tile" routerLink="/">
	<div class="name">
		<span class="psl">ПСЛ</span><span class="last">ПОСЛЕДНИЕ</span><span class="news">НОВОСТИ</span>
	</div>
	<!--<div class="motto">БУДЬ В КУРСЕ</div>-->
</a>

<div class="logo">
	<img src="/logo.png" width="100%" height="100%"/>
</div>

<!--
<a class="about-link" routerLink="/about">
	О портале
</a>
-->

<div class="notification" *ngIf="getNotificationVisible()" (click)="requestNotification()">
	Уведомления
</div>

<div class="menu tile">
	<div class="menu-item pointer" (click)="currentMenuItem = 0" [class.active-menu-item]="currentMenuItem === 0">
		Одной строкой
	</div>
	<div class="menu-item pointer" (click)="currentMenuItem = 1" [class.active-menu-item]="currentMenuItem === 1">
		Главное
	</div>
</div>

<div class="short-news-list-panel" [hidden]="currentMenuItem !== 0">
	<div class="wait-indicator-panel" [hidden]="!shortNewsListLoadInProgress">
		<!--
		<div class="sk-cube-grid">
			<div class="sk-cube sk-cube1"></div>
			<div class="sk-cube sk-cube2"></div>
			<div class="sk-cube sk-cube3"></div>
			<div class="sk-cube sk-cube4"></div>
			<div class="sk-cube sk-cube5"></div>
			<div class="sk-cube sk-cube6"></div>
			<div class="sk-cube sk-cube7"></div>
			<div class="sk-cube sk-cube8"></div>
			<div class="sk-cube sk-cube9"></div>
		</div>
		-->
		<div class="cube-black">
			<div class="cube-blue">
				<div class="cube-white"></div>
			</div>
		</div>
	</div>
	<div class="short-news-list">
		<div id="one-line" class="tile">ОДНОЙ СТРОКОЙ</div>
		<div *ngFor="let shortNews of shortNewsList" class="short-news tile">
			<div class="time">{{shortNews.date | customTime}}</div>
			<div class="header">{{shortNews.header}}</div>
		</div>
		<div class="more-news" (click)="getMoreNews()" [hidden]="!initialLoadCompleted">
			Еще новости
		</div>
	</div>
</div>

<div class="content" [hidden]="currentMenuItem !== 1">
	<router-outlet></router-outlet>
</div>

<div class="advertising-panel">
	<div class="advertising">
		<a href="http://www.rusfond.ru/" title="Русфонд" target="_blank">
			<img class="grayscale-image" src="/rusfond.jpg" width="300" height="600" hspace="0" vspace="0" border="0" alt="Русфонд">
		</a>
	</div>
	<div class="advertising">
		<a href="http://www.bfkh.ru/" title="Фонд Константина Хабенского" target="_blank">
			<img class="grayscale-image" src="/bfkh.jpg" width="300" height="600" hspace="0" vspace="0" border="0" alt="Фонд Константина Хабенского">
		</a>
	</div>
</div>
