<div class="wait-indicator-panel" [hidden]="!newsLoadInProgress">
	<!--
	<div class="sk-cube-grid">
		<div class="sk-cube sk-cube1"></div>
		<div class="sk-cube sk-cube2"></div>
		<div class="sk-cube sk-cube3"></div>
		<div class="sk-cube sk-cube4"></div>
		<div class="sk-cube sk-cube5"></div>
		<div class="sk-cube sk-cube6"></div>
		<div class="sk-cube sk-cube7"></div>
		<div class="sk-cube sk-cube8"></div>
		<div class="sk-cube sk-cube9"></div>
	</div>
	-->
	<div class="cube-black">
		<div class="cube-blue">
			<div class="cube-white"></div>
		</div>
	</div>
</div>
<a class="to-list" routerLink="/" *ngIf="!newsLoadInProgress">
	&lt;&lt; Back
</a>
<div class="news tile" *ngIf="news" [@routeAnimation]="'active'">
	<img class="image" src="/data/images/{{news.id}}.jpg"/>
	<div class="time">{{news.date | customDateTime}}</div>
	<div class="header">{{news.header}}</div>
	<div class="text">
		<p *ngFor="let contentItem of news.content">{{contentItem}}</p>
	</div>
</div>
<a class="to-list" routerLink="/" *ngIf="!newsLoadInProgress">
	&lt;&lt; Back
</a>
