@import "variables";

.news-list {
	.news-list-item {
		display: inline-block;
		vertical-align: top;
		background: $news-list-item-background;
		margin-bottom: $indent;
		width: auto;
		@include box-shadow;

		.image {
			width: 100%;
		}

		.time {
			color: $light-font-color;
			margin: $indent 0;
		}

		.header {
			height: $news-list-item-header-height;
			overflow: hidden;
		}
	}
}

@import "news-list.md";
@import "news-list.lg";
@import "news-list.xl";
@import "news-list.md.lg.xl";
