@import "variables";

@media screen and (min-width: $page-size-sm + 1) and (max-width: $page-size-md) {
	.content {
		.news-list {
			.news-list-item {
				width: calc((100% - 10px) / 2);
				margin-right: $indent; 
			}
			.news-list-item:nth-child(2n+1) {
				margin-right: 0; 
			}
		}
	}
}
