@import "variables";

@media screen and (min-width: $page-size-lg + 1) {
	.content {
		.news-list {
			.news-list-item {
				width: calc((100% - 2 * 10px) / 3);
				margin-right: $indent; 
			}
			.news-list-item:nth-child(3n+1) {
				margin-right: 0; 
			}
		}
	}
}
