@import "variables";
@import "helpers";
@import "mixins";
@import "news-list";
@import "news";

.advertising {
	margin: $indent / 2;
}

.page-header {
	margin: 0;
	padding: $indent;
	position: fixed;
	top: 0;
	width: 100%;
	background: $news-list-item-background;
}

.content {
	margin: auto;
	margin-top: $header-height;
	padding: $indent / 2;
	display: flex;

	.short-news-list, .advertising {
		min-width: $side-column-width;
	}

	.short-news-list {
		font-size: small;

		.short-news {
			background: $news-list-item-background;
			display: flex;
			@include indents;
			margin-bottom: $indent;

			.time, .header {
				margin: $indent / 2;
			}

			.time {
				color: $light-font-color;
			}
		}
	}
}

.more-news {
	background: $news-list-item-background;
	margin: $indent / 2;
	padding: $indent;
	cursor: pointer;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;

	&:after {
		content: " >>"
	}
}
