@import "variables";

@media screen and (max-width: $page-size-xs) {
	.menu {
		display: flex;
	}

	.content {
		margin-top: $header-height + $menu-height + $indent / 2;
		margin-left: 0px;
	}

	.advertising {
		display: none;
	}
}

@media screen and (min-width: $page-size-xs + 1) {
	.short-news-list, .content {
		display: block;
	}
}
