@import "variables";
@import "app/app";
@import "menu";
@import "wait-indicator";

body {
	margin: 0;
	background: $body-background;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

a, a:visited {
	color: $link-color;
	text-decoration: none;
}
