@import "variables";

.menu {
	position: fixed;
	z-index: 2;
	width: 100%;
	top: $header-height;
	justify-content: center;
	
	.menu-item {
		background: #2196f3;
		margin: 0 $indent / 2;
		padding: $indent 2 * $indent;
	}

	.active-menu-item {
		background: $active-menu-item-color;
	}
}