.content {

	.news, .to-list {
		@include box-shadow;
	}

	.news {
		background: $news-list-item-background;

		.image {
			width: 100%;
		}
		
		.time {
			margin: $indent 0;
			color: $light-font-color;
		}
		
		.header {
			font-weight: bold;
			font-size: x-large;
		}
		
		.text {
			p {
				text-align: justify;
			}
		}
	}

	.to-list {
		margin-bottom: $indent;
		background: $news-list-item-background;
		padding: $indent;
		cursor: pointer;
		font-weight: bold;
		text-align: center;
	}
}
