@import "variables";

.content {

	.news-list {
		display: flex;
		flex-wrap: wrap;

		.news-list-item {
			flex: 1 2 $news-list-item-flex-basis;
			background: $news-list-item-background;
			padding: $indent;
			margin: $indent / 2;
			width: 100%;

			.image {
				width: 100%;
			}

			.time {
				color: $light-font-color;
				margin: $indent 0;
			}
		}

		.first-news-list-item {
			flex: 0 1 auto;
		}
	}
}
