@import "variables";

.news-list {
	.news-list-item {
		display: inline-block;
		background: $news-list-item-background;
		margin: $indent / 2;
		width: auto;

		.image {
			width: 100%;
		}

		.time {
			color: $light-font-color;
			margin: $indent 0;
		}
	}
}

@import "news-list.md";
@import "news-list.lg";
@import "news-list.xl";
