@import "variables";

.content {

	.news-list {
		display: flex;
		flex-wrap: wrap;

		.news-list-item {
			background: $news-list-item-background;
			padding: $indent;
			margin: $indent / 2;

			.image {
				width: 100%;
			}

			.time {
				color: $light-font-color;
				margin: $indent 0;
			}
		}
	}
}
