.content {

	.news, .to-list {
		@include box-shadow;
	}

	.news {
		.image {
			width: 100%;
		}
		
		.time {
			margin: $indent 0;
			color: $theme-color;
		}
		
		.header {
			font-weight: bold;
			font-size: x-large;
		}
		
		.text {
			p {
				text-align: justify;
			}
		}
	}

	.to-list {
		margin-bottom: $indent;
		background: $theme-color;
		padding: $indent;
		cursor: pointer;
		text-align: center;
		display: block;
	}

	.to-list:hover {
		text-decoration: underline;
	}
}
