$body-background: #ccc;

$content-max-width: 1024px;

$indent: 10px;

$header-height: 58px;

$news-list-item-background: #fff;

$news-list-item-bottom-border-width: 1px;
$news-list-item-bottom-border-color: #aaa;
$news-list-item-bottom-padding: 10px;

$page-size-xs: 480px;
$page-size-m: 768px;

$light-font-color: #999;
