$body-background: #ccc;

$indent: 10px;

$ver-scroll-width: 17px;

$logo-size: 48px;

$header-height: $logo-size + 2 * $indent;
$menu-height: 39px;

$news-list-item-header-height: 60px;

$news-list-item-background: #fff;

$news-list-item-bottom-border-width: 1px;
$news-list-item-bottom-border-color: #aaa;
$news-list-item-bottom-padding: 10px;
$news-list-item-flex-basis: 260px; // todo: discover how to calculate

$page-size-min: 320px;
$page-size-xs: 480px;
$page-size-sm: 768px;
$page-size-md: 1024px;
$page-size-lg: 1380px;
$page-size-max: 1920px;

$side-column-width: $page-size-min - 2 * $indent;

$light-font-color: #999;
$menu-item-color: #eee;
$active-menu-item-color: $body-background;
