@import "variables";
@import "helpers";
@import "mixins";

body {
	margin: 0;
}

.page-header, .short-news-list, .news-list, .advertising {
	margin: $indent / 2;
}

.page-header {
	@include news-item-bottom-border;
}

.content {
	max-width: $content-max-width;
	margin: auto;
	display: flex;

	.short-news-list {
		flex: 1;

		.short-news {
			@include news-item-bottom-border;
			display: flex;

			.time {
			}

			.header {
			}
		}
	}
	
	.news-list {
		flex: 2;
		display: flex;
		flex-wrap: wrap;

		.news-list-item {
			@include news-item-bottom-border;

			.image {
				width: 100%;
			}
			
			.time {
			}
			
			.header {
			}
		}
	}
	
	.news {
		.image {
			width: 100%;
		}
		
		.time {
		}
		
		.header {
		}
		
		.text {
		}
	}

	.advertising {
		flex: 1;
		background: $news-list-item-bottom-border-color;
	}
}
	