@import "variables";

.content {
	.wait-indicator-panel {
		position: fixed;
		width: auto;
		height: calc(100% - 68px);
		top: $header-height;
		z-index: 3;

		.sk-cube-grid, .cube-black {
			position: fixed;
			top: calc(100% / 2 + 40px / 2); // todo: why '+'
			left: calc(100% / 2 - 40px / 2);
		}
	}

	#main {
		margin-bottom: $indent;
	}

	.news-list {
		.news-list-item {
			display: inline-block;
			vertical-align: top;
			margin-bottom: $indent;
			width: auto;
			@include box-shadow;
			border-bottom: $indent / 2 $theme-color solid;

			.image {
				width: 100%;
			}

			.time {
				color: $theme-color;
				margin: $indent 0;
			}

			.header {
				height: $news-list-item-header-height;
				overflow: hidden;

				p {
					margin: $indent;
				}
			}
		}
	}
}

@import "news-list.md";
@import "news-list.lg";
@import "news-list.xl";
@import "news-list.sm.md";
@import "news-list.md.lg.xl";
