@import "variables";

@media screen and (max-width: $page-size-xs) {
	.page-header {
		.name {
			display: none;
		}
	}

	.menu {
		display: flex;
	}

	.short-news-list-panel, .content {
		width: calc(100% - 2 * 10px);
	}

	.short-news-list-panel {
		top: $header-height + $menu-height + $indent;
		height: calc(100% - 68px - 2 * 10px - 39px);
		.short-news-list {
			width: calc(100% + 17px);
		}
	}

	.content {
		margin-top: $header-height + $menu-height + $indent;
		margin-left: $indent;
	}
}

@media screen and (min-width: $page-size-xs + 1) {
	.short-news-list, .content {
		display: block;
	}
}
