@import "variables";
@import "helpers";
@import "../news-list/news-list";
@import "news";
@import "about";

.page-header, .menu, .short-news-list-panel .short-news-list .short-news, .advertising a, .more-news {
	@include box-shadow;
}

.page-header {
	margin: 0;
	position: fixed;
	z-index: 2;
	top: 0;
	width: 100%;
	background: $news-list-item-background;

	font-size: $logo-size;
	height: $header-height;
	line-height: $header-height;

	.name {
		margin-left: 2 * $indent + $logo-size;
	}

	.name, .last, .news, .motto {
		display: inline-block;
	}

	.name {
		.last, .news {
			display: inline-block;
		}

		.last {
			font-weight: bold;
		}
	}
}

.logo {
	position: fixed;
	z-index: 3;
	top: $indent;
	left: $indent;
	width: $logo-size;
	height: $logo-size;
	
	img {
		box-shadow: 0 0 $indent 0 $logo-shadow-color;
	}
}

.about-link {
	position: fixed;
	z-index: 3;
	top: $indent;
	right: $indent;
	font-weight: bold;
	text-decoration: underline;
}

.short-news-list-panel, .short-news-list-panel .wait-indicator-panel, .advertising-panel {
	top: $header-height;
	position: fixed;
	z-index: 1;
	height: calc(100% - 68px);
}

.short-news-list-panel, .advertising-panel {
	width: $side-column-width + $indent;
	overflow: hidden;
}

.short-news-list-panel {
	.wait-indicator-panel {
		width: $side-column-width + 2 * $indent;
		left: 0;

		.sk-cube-grid {
			position: fixed;
			top: calc(100% / 2 + 40px / 2); // todo: why '+'
			left: calc(320px / 2 - 40px / 2)
		}
	}
}

.short-news-list-panel {
	left: $indent;

	.short-news-list {
		overflow: auto;
		height: 100%;
		width: calc(100% + 17px);

		.short-news {
			width: $side-column-width;
			display: flex;
			margin-top: $indent;

			.time, .header {
				margin: $indent;
			}

			.time {
				color: $light-font-color;
				margin-right: 0;
			}
		}

		.more-news {
			width: $side-column-width;
			margin-top: $indent;
			margin-bottom: $indent;
		}
	}
}

.advertising-panel {
	right: 0;

	.advertising {
		overflow: auto;
		height: 100%;
		width: $side-column-width + $indent + $ver-scroll-width;

		a {
			display: block;
			margin-top: $indent;
			margin-bottom: $indent;
			width: $side-column-width;
		}
	}
}

.content {
	margin: $header-height + $indent $side-column-width + 2 * $indent $indent $side-column-width + 2 * $indent;
}

.more-news {
	background: $theme-color;
	padding: $indent 0;
	cursor: pointer;
	font-weight: bold;
	text-align: center;
}

.more-news:hover {
	text-decoration: underline;
}

@import "app.xs.sm.md";
@import "app.xs";
@import "app.sm";
@import "app.md";
