@import "variables";
@import "helpers";
@import "mixins";
@import "../news-list/news-list";
@import "news";

.page-header {
	margin: 0;
	padding: $indent;
	position: fixed;
	top: 0;
	width: 100%;
	background: $news-list-item-background;
}

.short-news-list-panel, .advertising {
	top: $header-height + $indent / 2;
	width: $side-column-width + $indent;
	height: calc(100% - 58px);
	overflow: hidden;
	position: fixed;
}

.short-news-list-panel {
	left: $indent / 2;

	.short-news-list {
		overflow: auto;
		height: 100%;
		width: $side-column-width + $indent + $ver-scroll-width;
		font-size: small;

		.short-news {
			background: $news-list-item-background;
			display: flex;
			@include indents;
			margin-bottom: $indent;

			.time, .header {
				margin: $indent / 2;
			}

			.time {
				color: $light-font-color;
			}
		}
	}
}

.advertising {
	right: $indent / 2;
	a {
		margin: $indent / 2;
		display: block;
	}
}

.content {
	margin: $header-height + $indent / 2 $side-column-width + 1.5 * $indent auto $side-column-width + 1.5 * $indent;
}

.more-news {
	background: $news-list-item-background;
	margin: $indent / 2;
	margin-bottom: $indent;
	padding: $indent;
	cursor: pointer;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;

	&:after {
		content: " >>"
	}
}

@import "app.xs";
@import "app.sm";
@import "app.md";
