@import "variables";

@media screen and (max-width: $page-size-xs) {
	.page-header {
		.name {
			display: none;
		}
	}

	.menu {
		display: flex;
		z-index: 2;
	}

	.short-news-list-panel {
		width: calc(100% - 10px);

		.wait-indicator-panel {
			width: 100%;

			.sk-cube-grid {
				left: calc(50% - 40px / 2)
			}
		}

		.short-news-list {
			.short-news {
				width: calc(100vw - 2 * 10px - 10px / 2);
			}

			.more-news {
				width: calc(100vw - 2 * 10px);
			}
		}
	}

	.short-news-list-panel, .short-news-list-panel .wait-indicator-panel {
		top: $header-height + $menu-height;
		height: calc(100% - 68px - 39px);
	}

	.content {
		width: calc(100% - 2 * 10px);
		margin-top: $header-height + $menu-height + $indent;
		margin-left: $indent;
	}
}

@media screen and (min-width: $page-size-xs + 1) {
	.short-news-list-panel, .content {
		display: block;
	}
}
