@import "variables";
@import "helpers";
@import "../news-list/news-list";
@import "news";

.page-header {
	margin: 0;
	position: fixed;
	top: 0;
	width: 100%;
	background: $news-list-item-background;

	font-size: $logo-size;
	height: $header-height;
	line-height: $header-height;

	.name {
		margin-left: 2 * $indent + $logo-size;
	}

	.name, .last, .news, .motto {
		display: inline-block;
	}

	.name {
		.last, .news {
			display: inline-block;
		}

		.last {
			font-weight: bold;
		}
	}
}

.logo {
	position: fixed;
	top: $indent;
	left: $indent;
	width: $logo-size;
	height: $logo-size;
}

.short-news-list-panel, .advertising-panel {
	top: $header-height + $indent;
	overflow: hidden;
	position: fixed;
}

.short-news-list-panel {
	left: $indent;
	width: $side-column-width;
	height: calc(100% - 68px - 2 * 10px);

	.short-news-list {
		overflow: auto;
		height: 100%;
		width: calc(100% + 17px);
		font-size: small;

		.short-news {
			background: $news-list-item-background;
			display: flex;
			padding: $indent / 2;
			margin-bottom: $indent;
			width: calc(100% - 10px);

			.time, .header {
				margin: $indent / 2;
			}

			.time {
				color: $light-font-color;
			}
		}
	}
}

.advertising-panel {
	right: 0;
	width: $side-column-width + $indent;
	height: calc(100% - 68px - 10px);

	.advertising {
		overflow: auto;
		height: 100%;
		width: $side-column-width + $indent + $ver-scroll-width;

		a {
			display: block;
			margin-bottom: $indent;
		}
	}
}

.content {
	margin: $header-height + $indent $side-column-width + 2 * $indent $indent $side-column-width + 2 * $indent;
}

.more-news {
	background: $news-list-item-background;
	padding: $indent;
	cursor: pointer;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;

	&:after {
		content: " >>"
	}
}

@import "app.xs.sm.md";
@import "app.xs";
@import "app.sm";
@import "app.md";
